*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1 {
  font-size: 2em;
  display: inline-block;
  float: left;
  padding-left: 1em;
  text-align: center;
}

.bodyClass {
  background: url("/images/image2.jpeg") 0 0 no-repeat;
  height: 710px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#play {
  cursor: pointer;
  width: 15em;
  height: 3em;
  outline: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1em;
  background: #fff;
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -170px;
}
#play:hover {
  background: wheat;
  transition: 0.2s background;
}
#randomWord {
    font-size: 3em;
    font-family: "Arial", serif;
    width: 100%;
    text-transform: uppercase;
    display: block;
  }
 
  .hidden {
    visibility: hidden;
  }

  #screenGame{
    text-align: center;
    margin: 2em auto;
    width: 65%;
  }
  #screenGame p {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 3em;
    font-weight: 500;
    font-size: 1.5em;
  }
  