*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

h1 {
  font-size: 2em;
  display: inline-block;
  float: left;
  padding-left: 1em;
  text-align: center;
}
.bodyClass {
  background: url("../images/image2.jpeg") 0 0 no-repeat;
  height: 710px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#play {
  cursor: pointer;
  width: 15em;
  height: 3em;
  outline: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1em;
  background: #fff;
  position: absolute;
  text-align: center;
  margin-left: 260px;
  margin-top: 200px;
}
#play:hover {
  transition: 0.2s background;
}
#word {
  width: 15em;
  height: 4em;  
}
#gameBoard{
  margin-top: 40px;
}
#submit,
#reset{
  cursor: pointer;
  width: 15em;
  height: 4em;
  text-transform: uppercase;
  background: white;
}

#randomWord-container {
  font-size: 3em;
  text-transform: uppercase;
  display: block;
}
 
.hidden {
  visibility: hidden;
}

#screenGame{
  text-align: center;
  margin: 2em auto;
  width: 65%;
}
#screenGame p {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 1.5em;
}
#correctOrNotWord{
  display: block;
  text-align: center;
  font-size: 3em !important;
  margin-top: 40px;
  margin-left: 60px;  
}
.wrong {
  color: red;
  text-transform: uppercase;
}
.correct{
  color:green;
  text-transform: uppercase;
}
  